h1= title
- var firstDay = Object.keys(stockData['Time Series (Daily)'])[0]
- var previousDay = firstDay
- var previous = stockData['Time Series (Daily)'][firstDay]['4. close']

ul(class='pricelist')
  each day in Object.keys(stockData['Time Series (Daily)'])
    if Number(previous) < Number(stockData['Time Series (Daily)'][day]['4. close'])
      li(class='red') #{previousDay} - #{stockData['Time Series (Daily)'][previousDay]['4. close']}
    else if Number(previous) > Number(stockData['Time Series (Daily)'][day]['4. close'])
      li(class='green') #{previousDay} - #{stockData['Time Series (Daily)'][previousDay]['4. close']}
    else if Number(previous) === Number(stockData['Time Series (Daily)'][day]['4. close']) && previousDay !== day
      li #{previousDay} - #{stockData['Time Series (Daily)'][previousDay]['4. close']}
    - previousDay = day
    - previous = stockData['Time Series (Daily)'][previousDay]['4. close']
